extends layout.pug

block content
    .container
        p Este proyecto fue creado por: 
        p Hernandez Corona Angel de Jesus 
        p Falcon Villanueva Emanuel
        p Perez Barajas Ezequiel Alberto

        p Proyecto final de internet de las cosas del grupo 1007 impartida por el profesor Efren Lozano Mendez
        p 29/11/2023