extends layout.pug

block scripts
    if datosGrafica
        script.
            var dataset = !{JSON.stringify(datosGrafica.reverse())};
    script(src="/socket.io/socket.io.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js")
    if datosGrafica
        script(src="/js/Chart.min.js")
        script(src="/js/grafica.js") 
        script(src="/js/history.js")

block content
    h1 Historial
    if datosGrafica
        .row
            .col-md-6
                canvas.my-4(id='chart-prox')
            .col-md-6
                canvas.my-4(id='chart-temp')
    else
        h4 No hay nada que mostrar
    .table-responsive
        table.table.table-striped.table-sm.border
            thead
                tr
                    th Sensor Proximidad
                    th Sensor Temperatura
                    th Timestamp
            tbody#tabla-sensores
                if registros
                    each registro in registros
                        tr
                            th= registro.sensor_prox
                            th= registro.sensor_calor
                            th= new Date(registro.timestamp).toLocaleString()